div.css-ocqkz7.e1tzin5v4 {
    background-color: #d8d2c4;
    border: 2px solid #4f5858;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}


button.css-1cpxqw2.edgvbvh9 {
	color:#FFFFFF;
    background-color: #4f5858;
    border: 2px solid #FFFFFF;
/*     padding: 5% 5% 5% 10%; */
    border-radius: 5px;
}



/* 
div.row-widget.stRadio {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}
 */



/* 
div.css-1yycg8b.e1tzin5v2 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}
 */